__pycache__/
.ipynb_checkpoints/
basetts_outputs_use_bert/
basetts_outputs/
multilingual_ckpts
basetts_outputs_package/
build/
*.egg-info/

*.zip
*.wav

melo/data/
melo/logs/
melo/aws/
melo/bert/
output/
*.log
*.json
*.rst
*.pth
*.list

nohup.out
melo/data/*
temp_files/